*.DS_Store
*.swp
.project
.DS_Store
ArtWork/.DS_Store
ArtWork/bitmapslice/.DS_Store
build/.DS_Store
data/.DS_Store
data/sound/.DS_Store
html/.DS_Store
js/.DS_Store
Tools/.DS_Store
WebExperiments/.DS_Store
