# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/lebaptis/mydata"
PassengerBaseURI "/mydata"
PassengerNodejs "/home/lebaptis/nodevenv/mydata/6/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
