# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/lebaptis/testApp"
PassengerBaseURI "/testApp"
PassengerNodejs "/home/lebaptis/nodevenv/testApp/6/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
